<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<meta>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
    <script src="/js/templates/template.js"></script>
</head>
<body>
    <div><img src="/images/logo.png"></div>
    <div>
        <table>
            <tbody>
            <tr>
                <td id="order-code">订单编号：</td>
                <td id="create-time">订购时间：</td>
            </tr>
            <tr>
                <td colspan="2" id="parent-name">监护人姓名：</td>
                <td colspan="2" id="child-name">孩子姓名：</td>

            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <table>
            <tbody id="details">
                <tr>
                    <th>商品编号</th>
                    <th>商品名</th>
                    <th>商品类型</th>
                    <th>价格</th>
                </tr>
            </tbody>
        </table>
        <hr>
        <table>
            <tr>
                <td id="total-price">
                    总价：
                </td>
            </tr>
            <tr>
                <td id="discount">
                    折扣：
                </td>
            </tr>
            <tr>
                <td id="others">
                    其他：
                </td>
            </tr>
            <tr>
                <td id="total-pay">
                    应付总额：
                </td>
            </tr>
        </table>
    </div>
    <hr>
    <di>给孩子最好的未来 尽在启明星教育</di>
</body>
</html>